{
  "server":{
    "user":    "[name]", 
    "password":"[password]", 
    "host":    "[remote host]", 
    "ssl":     [true/false],
    "tls":     [true/false],
    "port":    [port]
  },
  "headers":{
    "from":"[firstname lastname <yourename@xxx.com>]"
  },
  "footer":"Thanks,<br />[yourname]\n",
  "contacts":{
    "chemzqm":"Jack zhao <chemzqm@gmail.com>"
  }
}
