{
  "server":{
    "type":"SMTP",
    "auth":{
        "user":"[name]",
        "pass":"[password]"
        },
    "host":"[host]", 
    "port":[port]
  },
  "headers":{
    "from":"[firstname lastname <yourename@xxx.com>]"
  },
  "contacts":{
  }
}
